streamlit
pandas
folium==0.12.1
streamlit-folium
leafmap
streamlit-aggrid
altair
branca<0.5,>=0.3.1
ipywidgets<8,>=7.6.0
python-dotenv
streamlit-option-menu
yagmail
pyrebase
pycryptodome
requests==2.26.0
urllib3==1.26.7
