streamlit
pandas
folium==0.12.1
streamlit-folium
leafmap
streamlit-aggrid
altair
branca==0.4.2
ipywidgets<8,>=7.6.0
python-dotenv
streamlit-option-menu
yagmail
requests==2.32.3
urllib3==1.26.7
pyrebase4
pycryptodome
streamlit-authenticator
streamlit-chat
scikit-learn
polars
pyarrow
fastparquet

